<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<div class="well">
			<h1>Look up your local forecast!</h1>
			<p>What's the weather like in your city?</p>

			<div>
				<%= form_tag index_path do %>
					<%= text_field_tag :city, nil, placeholder: "City", class: "form-control" %>
					<%= select_tag :state, options_for_select(@states), prompt: "Please select State", class: "form-control" %>
					<%= submit_tag "Check Weather", class: "btn btn-primary" %>
				<% end %>

			</div>

		</div>
	</div>		
</div>
